.cc-header {
  color: white;
  background: url("images/header-bg.png") no-repeat center center;
  -webkit-background-size: 100% contain;
  -moz-background-size: 100% contain;
  -o-background-size: 100% contain;
  background-size: 100% contain;
}

#header-logo {

}

#header-logo-image {
  width: 48px;
  height: 48px;
}

#header-text {
  font-family: HelveticaNeue-Thin,system-ui, -apple-system, BlinkMacSystemFont, "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 18px;
  color: #FFFFFF;
  letter-spacing: 0;
}

#download-btn {
  background: #00B2EE;
  border: none;
  font-size: 12px;
}
