.cc-header {
  color: white;
  height: 61.8%;
  background: url("images/header-bg.png") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

#header-logo {

}

#header-logo-image {
  width: 48px;
  height: 48px;
}

#header-text {
  font-family: HelveticaNeue-Thin;
  font-size: 18px;
  color: #FFFFFF;
  letter-spacing: 0;
}

#download-btn {
  background: #00B2EE;
  border: none;
}
